<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="username" value = "username@gmail.com"/>
    <add key ="login_domain" value = ""/> <!-- optional -->
    <add key ="password" value = "***********"/>
    <add key ="from_email" value = "username@gmail.com"/>
    <add key ="host" value = "smtp.gmail.com"/>
    <add key ="port" value = "587"/> <!-- 465 0r 587 for gmail -->
    <add key ="enable_ssl" value = "true"/>
  </appSettings>
</configuration>